:root {
    --color1: #aaa;
}

* {
    text-align: center;
    font-family: Helvetica;
    background-color: #51a2bb
}

#specifics {
    margin-top: -10px;
}

#form {
    margin-bottom: 30px;
}

#month, #day, #year {
    width: 50px;
}

#form-container {
    display: flex;
    justify-content: center;
}

#m, #d, #y, #s {
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: solid black; */
}

#l1, #l2, #l3 {
    margin: 0 5px;
}

#s {
    margin-left: -14px;
}

input[type="submit"] {
        display: block;
        width: 60px;
        font-size: 1.1rem;
        background-color: #64750c;
        border-color: white;
    }

#display {
    height: 300px;
    width: 700px;
    background-color: var(--color1);
    padding-top: 50px;
    margin: auto;
    position: relative;
}

#scale {
    position: absolute;
    float: left;
    background-color: black;
}

#labels {
    display: flex;
    flex-direction: column;
}

#label1, #label2, #label3 {
    border: solid black;
    margin: 20px -70px;
    height: 20px;
    width: 80px;

}

#bar1, #bar2, #bar3 {
    width: 100px;
    background-color: #1d3d1d;
    float: left;
    position: absolute;
    bottom: 0;
}

#bar1 {
    left: 100px
}

#bar2 {
    left: 300px;
}

#bar3 {
    left: 500px
}

#info1, #info2, #info3 {
    /* border: solid black; */
    width: 200px;
    height: 50px;
    float: left;
    position: absolute;
    background-color: var(--color1);
}

#info1 {
    left: 50px;
}

#info2 {
    left: 250px;
}

#info3 {
    left: 450px
}

#p1, #p2, #p3 {
    background-color: var(--color1);
}

#happenings {
    display: flex;
    justify-content: center;
}

#hap1, #hap2, #hap3 {
    /* border: solid black; */
    width: 200px;
    height: 100px;
    margin: 0 20px;
}